@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-Regular.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-RegularItalic.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-Bold.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-BoldItalic.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-Medium.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-MediumItalic.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-SemiBold.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-SemiBoldItalic.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

:root {
  font-size: 16px;
  @media (max-width: 520px) {
    font-size: 15px;
  }
  --primary-color: hsl(358, 100%, 67%);
  --primary-color-dark: hsl(358, 100%, 64%);
  --text-500: hsl(0, 0%, 50%);
  --text-700: hsl(0, 0%, 30%);
  --text-800: hsl(0, 0%, 20%);
  --text: hsl(0, 0%, 5%);
  --body-background: hsl(0, 0%, 94%);
  --background-color: hsl(0, 0%, 99%);
  --background-color-hover: hsl(0, 0%, 97%);
  --dark-theme-background: hsl(0, 0%, 4%);
  --dark-theme-text: hsl(0, 0%, 98%);
  --border-color: hsla(0, 0%, 80%, 0.4);
  --border-color-strong: hsla(0, 0%, 80%, 0.6);
  --border-color-weak: hsla(0, 0%, 80%, 0.2);

  @media (prefers-color-scheme: dark) {
    --body-background: hsl(0, 0%, 8%);
    --background-color: hsl(0, 0%, 10%);
    --background-color-hover: hsl(0, 0%, 10%);
    --text: var(--dark-theme-text);
    --text-500: hsl(0, 0%, 50%);
    --text-700: hsl(0, 0%, 70%);
    --text-800: hsl(0, 0%, 90%);
    --border-color: hsla(0, 0%, 80%, 0.05);
    --border-color-strong: hsla(0, 0%, 80%, 0.1);
    --border-color-weak: hsla(0, 0%, 80%, 0.025);
  }
}

body {
  font-family: "Innovator Grotesk", sans-serif;
  background-color: var(--body-background);
  color: var(--text);
}

.loading,
.error {
  @apply flex flex-col gap-4 text-center font-medium w-full h-screen items-center justify-center;
  color: var(--text-500);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem;
  @media (max-width: 640px) {
    padding: 2rem;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.75rem 2rem;
  @apply text-sm font-medium leading-tight;
  text-wrap: balance;
  @media (max-width: 640px) {
    font-size: 0.875rem;
  }
}

.logo-container {
  width: 80px;
  height: 80px;
  background: linear-gradient(to bottom, hsl(0 0% 97% / 1), hsl(0 0% 90% / 1));
  box-shadow: inset -1px -1px 0px 0 rgba(0, 0, 0, 0.03),
    inset 1px 1px 1px 0 rgba(255, 255, 255, 0.6),
    0 1px 1px hsl(0deg 0% 0% / 0.024), 0 2px 2px hsl(0deg 0% 0% / 0.024),
    0 8px 8px hsl(0deg 0% 0% / 0.024), 0 20px 20px hsl(0deg 0% 0% / 0.024),
    0 32px 32px hsl(0deg 0% 0% / 0.024);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply mb-12;
  @media (max-width: 640px) {
    margin-bottom: 1rem;
  }
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(to top, hsl(0 0% 9% / 1), hsl(0 0% 18% / 1));
    box-shadow: inset -1px -1px 0px 0 rgba(0, 0, 0, 0.03),
      inset 1px 1px 1px 0 rgba(255, 255, 255, 0.05),
      0 1px 1px hsl(0deg 0% 0% / 0.15), 0 2px 2px hsl(0deg 0% 0% / 0.15),
      0 8px 8px hsl(0deg 0% 0% / 0.15), 0 20px 20px hsl(0deg 0% 0% / 0.15);
  }
}

.header {
  @apply mb-20 flex flex-col gap-4 items-center;
  .header-text {
    @apply flex flex-col items-center m-0 max-w-full;

    h1 {
      @apply text-5xl font-bold mb-2;
      background: -webkit-linear-gradient(
        var(--text-700) 0%,
        var(--text-800) 75%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -0.02em;
    }
    h2 {
      @apply text-2xl mb-2 font-medium text-center leading-tight;
      color: var(--text-700);
      text-align: center;
      text-wrap: balance;
    }
    h3 {
      @apply text-sm m-0 text-center font-medium;
      text-align: center;
      color: var(--text-500);
      text-wrap: balance;
    }
  }
}

.filter-section {
  display: flex;
  gap: 1rem;
  @apply flex flex-col gap-2 mb-8 items-center;
}

.filter-group {
  @apply flex flex-col gap-1 items-center;
}

.filter-button-group {
  @apply flex flex-row gap-2 flex-wrap;
}

.filter-button {
  padding: 0.25rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 0.875rem;
  background-color: var(--body-background);
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.filter-button:hover {
  background-color: var(--background-color);
  border-color: var(--border-color-strong);
}

.filter-button.active {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.filter-button-group {
  @apply flex flex-row gap-2 flex-wrap justify-center;
}

.filter-label {
  @apply text-sm font-medium mb-2;
  color: var(--text-500);
}

select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.875rem;
  background-color: white;
  min-width: 150px;
}

.release-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 1.5rem;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, minmax(128px, 1fr));
  }
  @media (max-width: 640px) {
    grid-template-columns: repeat(1, minmax(128px, 1fr));
  }
}

.release-card {
  position: relative;
  background-color: var(--background-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.016),
    0 2px 2px hsl(0deg 0% 0% / 0.016), 0 8px 8px hsl(0deg 0% 0% / 0.016),
    0 16px 16px hsl(0deg 0% 0% / 0.016), 0 24px 24px hsl(0deg 0% 0% / 0.016);
  border: 1px solid var(--border-color);
  transition: all 0.2s ease-in-out;
  &:hover {
    border-color: var(--border-color-strong);
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.024),
      0 2px 2px hsl(0deg 0% 0% / 0.024), 0 8px 8px hsl(0deg 0% 0% / 0.024),
      0 32px 32px hsl(0deg 0% 0% / 0.024), 0 48px 48px hsl(0deg 0% 0% / 0.024);
    .release-card-bottom {
      background-color: var(--background-color-hover);
    }
  }
  @media (pointer: fine) {
    &:hover {
      transform: translateY(-0.2rem);
    }
  }
  @media (prefers-color-scheme: dark) {
    border-color: var(--border-color-weak);
  }
}

.release-card-top {
  position: relative;
}
.release-card-bottom {
  padding: 1.25rem;
  background-color: var(--background-color);
  z-index: 10;
  @apply text-sm;
  transition: background-color 0.2s ease-in-out;
  .label {
    @apply mr-0.5 w-[60px];
    color: var(--text-500);
  }
}

.touch-only {
  display: none;
  @media (pointer: coarse) {
    display: block;
  }
}

.faux-link {
  @apply text-sm font-semibold;
  color: var(--primary-color);
}

.gradient-overlay {
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.013) 8.1%,
    hsla(0, 0%, 0%, 0.049) 15.5%,
    hsla(0, 0%, 0%, 0.104) 22.5%,
    hsla(0, 0%, 0%, 0.175) 29%,
    hsla(0, 0%, 0%, 0.259) 35.3%,
    hsla(0, 0%, 0%, 0.352) 41.2%,
    hsla(0, 0%, 0%, 0.45) 47.1%,
    hsla(0, 0%, 0%, 0.55) 52.9%,
    hsla(0, 0%, 0%, 0.648) 58.8%,
    hsla(0, 0%, 0%, 0.741) 64.7%,
    hsla(0, 0%, 0%, 0.825) 71%,
    hsla(0, 0%, 0%, 0.896) 77.5%,
    hsla(0, 0%, 0%, 0.951) 84.5%,
    hsla(0, 0%, 0%, 0.987) 91.9%,
    hsl(0, 0%, 0%) 100%
  );

  z-index: 2;
}

.release-info {
  padding: 1.25rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.tag-container {
  @apply flex flex-row justify-between;
}

.tag {
  color: #333;
  @apply rounded font-medium px-1.5 py-0.5 text-xs flex justify-center items-center;
}

.tag-type {
  background-color: #e4e4e4;
  color: #333;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.open-in-spotify {
  opacity: 0;
  @apply bg-green-500 text-white;
}

.release-card:hover .open-in-spotify {
  opacity: 1;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.artist-name {
  @apply font-semibold text-white text-lg leading-5 m-0;
  text-shadow: 0 0 4px 1px rgba(0, 0, 0, 1);
}

.album-name {
  @apply font-semibold text-white text-lg leading-5 m-0 shadow-md italic;
  text-shadow: 0 0 4px 1px rgba(0, 0, 0, 1);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-description,
.similar-artists {
  font-size: 0.75rem;
  color: #666;
  margin-bottom: 0.25rem;
}
