@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-Regular.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-RegularItalic.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-Bold.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-BoldItalic.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-Medium.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-MediumItalic.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-SemiBold.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Innovator Grotesk";
  src: url("./assets/fonts/InnovatorGrotesk-SemiBoldItalic.ttf") format("ttf"),
    url("./assets/fonts/InnovatorGrotesk-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

body {
  font-family: "Innovator Grotesk", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}

.logo-container {
  width: 64px;
  height: 64px;
  background-color: #ff5a5f;
  /* background: linear-gradient(
    to bottom,
    hsl(358 100% 77% / 1),
    hsl(357.99deg 100% 70.78%)
  ); */
  box-shadow: inset -1px -1px 0 1px rgba(0, 0, 0, 0.01),
    inset 1px 1px 0 0 rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.filter-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.filter-button-group {
  display: flex;
  gap: 0.5rem;
}

.filter-button {
  padding: 0.25rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.875rem;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
}

.filter-button.active {
  background-color: #ff5a5f;
  color: white;
  border: 1px solid #ff5a5f;
}

.filter-label {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #666;
}

select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.875rem;
  background-color: white;
  min-width: 150px;
}

.release-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.release-card {
  position: relative;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.release-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 2;
}

.release-info {
  padding: 1rem;
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tag-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.tag {
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  border-radius: 4px;
  color: #333;
}

.tag-type {
  background-color: #e4e4e4;
  color: #333;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.artist-name {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.album-name {
  font-style: italic;
  color: #666;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.album-description,
.similar-artists {
  font-size: 0.75rem;
  color: #666;
  margin-bottom: 0.25rem;
}

.spotify-link {
  display: inline-block;
  margin-top: 0.5rem;
  color: #ff5a5f;
  font-size: 0.75rem;
  text-decoration: none;
}

.spotify-link:hover {
  text-decoration: underline;
}
